* {
  margin: 0px;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 10%;
  z-index: 1;
  height: 30px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav-bar__black {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 10%;
  z-index: 1;
  background-color: black;
  height: 30px;
  border-bottom: none;
}

.nav-bar-padding {
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.nav-bar-name {
  color: white;
  font-size: 30px;
  font-family: "Segoe UI";
}

.nav-bar-links a {
  text-decoration: none;
  padding: 15px;
  font-family: "Courier New";
  color: white;
  font-size: 25px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav-bar-links a:hover {
  font-size: 27px;
  background-color: rgb(131, 128, 128);
  border-radius: 8px;
  margin: 0 2px;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 5px;
  font-size: 27px;
  border: none;
  border-radius: 8px;
  width: 30px;
}

.dropdown {
  position: relative;
  /* display: inline-block; */
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn:hover {
  background-color: rgb(131, 128, 128);
}

.banner {
  color: white;
  object-fit: contain;
  height: 600px;
  width: 100%;
}

.banner-content {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .banner-profileimg {
  color: white;
} */

/* .banner-profileimg img {
  width: 200px;
  border-radius: 50%;
  padding: 10px;
} */
.banner-content h1 {
  font-size: 36px;
  font-family: "Segoe UI";
  padding-top: 10px;
}

.banner-collegename {
  color: white;
  font-size: 24px;
  font-family: "Courier New";
  padding-bottom: 20px;
}

.banner-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
  /* width: 120px; */
}
.banner-icon {
  height: 40px;
}
.banner-icon a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
  align-items: center;
  padding: 0 5px;
}

.banner-icon p {
  font-size: 0;
  padding: 0 5px;
  /* display: none; */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.banner-icon:hover p {
  display: inline;
  font-size: 20px;
}
.banner-icon:hover a {
  color: rgb(24, 203, 248);
  font-size: 34px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.downloadbtn a {
  text-decoration: none;
  color: white;
  border: 1px solid rgba(126, 124, 124, 0.568);
  padding: 5px;
  font-size: 18px;
  border-radius: 8px;
  background-color: transparent;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  margin: top 5px;
}

.downloadbtn:hover a {
  background-color: rgb(24, 203, 248);
}

.bottom-gradient {
  margin-top: 50px;
  height: 50px;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(32, 32, 32, 0.61) 28%,
    rgb(255, 255, 255)
  );
  width: 100%;
}

.projects {
  width: 99%;
}
.project-header {
  display: flex;
  padding: 5px;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
}

.project-header h1 {
  font-size: 40px;
  font-family: "Papyrus";
}

.cards {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 40px;
}

.card {
  width: 350px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  height: 430px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.card:hover {
  width: 360px;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4);
}

.card a {
  text-decoration: none;
  width: 100%;
  height: 250px;
}

.card img {
  width: 100%;
  height: 250px;
}

.card-title {
  font-size: 27px;
  font-family: "Georgia";
  padding: 5px;
}

.card-desc {
  font-family: "Courier New";
  padding: 5px;
}

.card-projectlang {
  padding: 5px;
  margin: 10px;
  font-size: 27px;
  width: 100%;
  display: flex;
  align-items: center;
}

.card-projectlang p {
  font-size: 15px;
  padding: 5px;
}

.project-button {
  display: flex;
  padding: 5px;
  width: 99%;
  justify-content: center;
  margin-top: 40px;
  height: 50px;
}

.project-button button {
  border: none;
  background-color: #b1afaf;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 25px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  font-family: "Courier New";
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.project-button button:hover {
  background-color: rgb(24, 203, 248);
  font-size: 28px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

.project-button a {
  text-decoration: none;
}

.skills {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  width: 180px;
}

.skill-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skill-orange {
  background-color: orange;
}

.skill-blue {
  background-color: rgb(10, 184, 241);
}

.skill-green {
  background-color: greenyellow;
}

.skill-title {
  font-size: 20px;
  font-family: Verdana;
  padding-top: 20px;
  padding-bottom: 20px;
}

.headpadding {
  height: 50px;
}

footer {
  height: 150px;
  background-color: rgba(0, 3, 34, 0.856);
}

.footer-content {
  color: white;
  padding: 20px;
}
.footer-links {
  display: flex;
}

.footer-links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.footer-links a:hover {
  color: rgb(150, 148, 148);
  font-size: 23px;
}

.carouselcomp {
  height: 600px;
  background-color: black;
  margin-top: 30px;
}

.carousel-header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.carousel-header h1 {
  font-size: 40px;
  font-family: "Segoe UI";
  color: white;
}

.container {
  height: 200px;
  width: 100px;
  margin: 0 auto;
  perspective: 600px;
  padding: 100px 0;
}
.container h1 {
  color: #000;
}

.carousel {
  position: relative;
  height: 100px;
  width: 200px;
  transform-style: preserve-3d;
  transform: translateZ(-500px);
  animation: turn 16s linear infinite;
  animation-play-state: run;
}
/* .carousel:hover {
  animation-play-state: paused;
} */
.carousel .panel {
  position: absolute;
  height: 400px;
  width: 300px;
  top: 50%;
  margin-top: -50px;
  left: 12px;
  border-radius: 5px;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-blend-mode: overlay;
  text-transform: uppercase;
}
.carousel .panel .shadow {
  margin-top: 40%;
  color: Black;
  text-shadow: 1px 1px white, 2px 2px white, 3px 3px white;
  animation: text 3s ease-in-out infinite alternate;
}
.carousel .panel .shadow:hover {
  position: relative;
  top: -3px;
  left: -3px;
  text-shadow: 1px 1px white, 2px 2px white, 3px 3px white, 4px 4px white,
    5px 5px white, 6px 6px white;
}

#panel-1 {
  transform: rotateY(0deg) translateZ(500px);
  background-image: linear-gradient(top left, #f9dec9, #f9dec9);
  box-shadow: inset 5px 5px 10px #f9dec9, inset -5px -5px 10px #f9dec9;
}

#panel-2 {
  transform: rotateY(40deg) translateZ(500px);
  background-image: linear-gradient(top left, #99b2dd, #99b2dd);
  box-shadow: inset 5px 5px 10px #99b2dd, inset -5px -5px 10px #99b2dd;
}

#panel-3 {
  transform: rotateY(80deg) translateZ(500px);
  background-image: linear-gradient(top left, #e9afa3, #e9afa3);
  box-shadow: inset 5px 5px 10px #e9afa3, inset -5px -5px 10px #e9afa3;
}

#panel-4 {
  transform: rotateY(120deg) translateZ(500px);
  background-image: linear-gradient(top left, #685044, #685044);
  box-shadow: inset 5px 5px 10px #685044, inset -5px -5px 10px #685044;
}

#panel-5 {
  transform: rotateY(160deg) translateZ(500px);
  background-image: linear-gradient(top left, #59c3c3, #59c3c3);
  box-shadow: inset 5px 5px 10px #59c3c3, inset -5px -5px 10px #59c3c3;
}

#panel-6 {
  transform: rotateY(200deg) translateZ(500px);
  background-image: linear-gradient(top left, #84a98c, #84a98c);
  box-shadow: inset 5px 5px 10px #84a98c, inset -5px -5px 10px #84a98c;
}

#panel-7 {
  transform: rotateY(240deg) translateZ(500px);
  background-image: linear-gradient(top left, #cad2c5, #cad2c5);
  box-shadow: inset 5px 5px 10px #cad2c5, inset -5px -5px 10px #cad2c5;
}

#panel-8 {
  transform: rotateY(280deg) translateZ(500px);
  background-image: linear-gradient(top left, #ebebeb, #ebebeb);
  box-shadow: inset 5px 5px 10px #ebebeb, inset -5px -5px 10px #ebebeb;
}

#panel-9 {
  transform: rotateY(320deg) translateZ(500px);
  background-image: linear-gradient(top left, #00cdd4, #00cdd4);
  box-shadow: inset 5px 5px 10px #00cdd4, inset -5px -5px 10px #00cdd4;
}

@keyframes turn {
  0% {
    transform: translateZ(-600px) rotateY(360deg);
  }
  100% {
    transform: translateZ(-600px) rotateY(0deg);
  }
}
@keyframes text {
  0% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}
