* {
  margin: 0px;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 10%;
  z-index: 1;
  height: 30px;
  border-bottom: 1px solid white;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav-bar__black {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 10%;
  z-index: 1;
  background-color: black;
  height: 30px;
  border-bottom: none;
}

.nav-bar-padding {
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.nav-bar-name {
  color: white;
  font-size: 30px;
  font-family: "Segoe UI";
}

.nav-bar-links a {
  text-decoration: none;
  padding: 15px;
  font-family: "Courier New";
  color: white;
  font-size: 25px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav-bar-links a:hover {
  font-size: 27px;
  background-color: rgb(131, 128, 128);
  border-radius: 8px;
  margin: 0 2px;
}

.banner {
  color: white;
  object-fit: contain;
  height: 600px;
}

.banner-content {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .banner-profileimg {
  color: white;
} */

/* .banner-profileimg img {
  width: 200px;
  border-radius: 50%;
  padding: 10px;
} */
.banner-content h1 {
  font-size: 40px;
  font-family: "Segoe UI";
  padding-top: 10px;
}

.banner-collegename {
  color: white;
  font-size: 24px;
  font-family: "Courier New";
  padding-bottom: 20px;
}

.banner-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
  width: 120px;
}
.banner-icon {
  height: 40px;
}
.banner-icon a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
  align-items: center;
  padding: 0 5px;
}

.banner-icon p {
  font-size: 0;
  padding: 0 5px;
  /* display: none; */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.banner-icon:hover p {
  display: inline;
  font-size: 20px;
}
.banner-icon:hover a {
  color: rgb(24, 203, 248);
  font-size: 34px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.bottom-gradient {
  margin-top: 50px;
  height: 50px;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(32, 32, 32, 0.61) 28%,
    rgb(255, 255, 255)
  );
  width: 100%;
}

.projects {
  width: 100%;
}
.project-header {
  display: flex;
  padding: 5px;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
}

.project-header h1 {
  font-size: 40px;
  font-family: "Papyrus";
}

.cards {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 40px;
}

.card {
  width: 350px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  height: 430px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.card:hover {
  width: 360px;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4);
}

.card a {
  text-decoration: none;
  width: 100%;
  height: 250px;
}

.card img {
  width: 100%;
  height: 250px;
}

.card-title {
  font-size: 27px;
  font-family: "Georgia";
  padding: 5px;
}

.card-desc {
  font-family: "Courier New";
  padding: 5px;
}

.card-projectlang {
  padding: 5px;
  margin: 10px;
  font-size: 27px;
  width: 100%;
  display: flex;
  align-items: center;
}

.card-projectlang p {
  font-size: 15px;
  padding: 5px;
}

.project-button {
  display: flex;
  padding: 5px;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
  height: 50px;
}

.project-button button {
  border: none;
  background-color: #b1afaf;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 25px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  font-family: "Courier New";
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.project-button button:hover {
  background-color: rgb(24, 203, 248);
  font-size: 28px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

.project-button a {
  text-decoration: none;
}

.skills {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  width: 180px;
}

.skill-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skill-orange {
  background-color: orange;
}

.skill-blue {
  background-color: rgb(10, 184, 241);
}

.skill-green {
  background-color: greenyellow;
}

.skill-title {
  font-size: 20px;
  font-family: Verdana;
  padding-top: 20px;
  padding-bottom: 20px;
}
